{
    "username": "abc",
    "password": "123456",
    "host": "127.0.0.1",
    "port": 9091,
    "seasonPathRegex": "Season (\\d+)",
    "episodeRegex": [
      "S\\d+E(\\d+(?:\\.5)?)",
      "\\[(\\d+(?:\\.5)?)\\]",
      "【(\\d+(?:\\.5)?)】",
      "第(\\d+(?:\\.5)?)集",
      "[ _](\\d+(?:\\.5)?)[ _]",
      "(\\d+(?:\\.5)?)"
    ],
    "ext": [".mp4", ".mkv", ".avi", ".rmvb", ".flv", ".wmv", ".mov"],
    "extSubs": [".srt", ".ass", ".ssa", ".vtt", ".smi", ".sup", ".sub"],
    "langRegex": "(?i)[\\._](?:\\w{2,4}|\\w{2,3}[-&]\\w{2,3}|big5)$"
}