{
    "username": "abc",
    "password": "123456",
    "host": "127.0.0.1",
    "port": 9091,
    "seasonPathRegex": "Season (\\d+)",
    "episodeRegex": "\\[(\\d+(?:\\.5)?)]|【(\\d+(?:\\.5)?)】|第(\\d+(?:\\.5)?)集|[ _](\\d+(?:\\.5)?)[ _]|(\\d+(?:\\.5)?)"
}